<h2>Spend by Merchant</h2>

<table>
  <tr>
    <th>Merchants</th>
    <td>|</td>
    <th>Total</th>
  </tr>
  <% @merchants.each do |merchant| %>
  <tr>
    <td> <%= merchant.name() %> </td>
    <td>|</td>
    <td> <%= merchant.total() %> </td>
    <td>|</td>
    <td>
    <form action="/merchants/<%= merchant.id %>" method="get">
        <input type="submit" value="Edit">
    </form>
  </td>
    <td>|</td>
    <td>
      <form action="/merchants/<%= merchant.id %>/delete" method="get">
        <input type="submit" value="Delete" <%= "disabled" if merchant.transactions().length > 0 %> />
      </form>
    </td>
  </tr>
  <% end %>
</table>

<p> <a href="/merchants/new">Add New Merchant</a> </p>
