<h2>Spend by Category</h2>

<table>
  <tr>
    <th>Category</th>
    <td>|</td>
    <th>Total</th>
  </tr>
  <% @tags.each do |tag| %>
  <tr>
    <td> <%= tag.type() %> </td>
    <td>|</td>
    <td> <%= tag.total() %> </td>
    <td>|</td>
    <td> <a href="/tags/<%= tag.id %>">Edit</a> </td>
    <td>|</td>
    <td>
      <form class="" action="/tags/<%= tag.id %>/delete" method="post">
        <input type="submit" value="Delete" <%= "disabled" if tag.transactions().length > 0 %> />
      </form>
    </td>
  </tr>
  <% end %>
</table>

<p> <a href="/tags/new">Add New Category</a> </p>
