<h2> Total Spend: <%= @total %> </h2>

<table>
  <tr>
    <th>Amount</th>
    <td>|</td>
    <th> <a href="/merchants">Merchant</a> </th>
    <td>|</td>
    <th> <a href="/tags">Category</a> </th>
  </tr>
  <% @transactions.each do |transaction| %>
  <tr>
    <td> <%= transaction.amount() %> </td>
    <td>|</td>
    <td> <%= transaction.merchant.name() %> </td>
    <td>|</td>
    <td> <%= transaction.tag.type() %> </td>
    <td>|</td>
    <td> <a href="/transactions/<%= transaction.id %>">View</a> </td>
  </tr>
  <% end %>
</table>
