<h2>Total transactions for <%= @transactions %>: </h2>

<h3> Monthly Spend: <%= @total %> </h3>

<table>
  <tr>
    <th>Amount</th>
    <td>|</td>
    <th>Date</th>
    <td>|</td>
    <th> <a href="/merchants">Merchant</a> </th>
    <td>|</td>
    <th> <a href="/categories">Category</a> </th>
  </tr>
  <% @transactions.each do |transaction| %>
  <tr>
    <td> <%= transaction.amount() %> </td>
    <td>|</td>
    <td> <%= transaction.uk_date() %> </td>
    <td>|</td>
    <td> <%= transaction.merchant.name() %> </td>
    <td>|</td>
    <td> <%= transaction.category.type() %> </td>
    <td>|</td>
    <td> <a href="/transactions/<%= transaction.id %>">View</a> </td>
  </tr>
  <% end %>
</table>
