<p>Amount: <%= @transaction.amount %> </p>
<p>Date: <%= @transaction.uk_date %> </p>
<p>Merchant: <%= @transaction.merchant.name %> </p>
<p>Category: <%= @transaction.category.type %> </p>

<form action="/transactions/<%= @transaction.id %>/edit" method="post">
    <input type="submit" value="Edit">
</form>

<form action="/transactions/<%= @transaction.id %>/delete" method="post">
    <input type="submit" value="Delete">
</form>
